<div class="d-flex justify-content-center">
    <div class="title-product-text">
        PRODUTOS
    </div>

</div>

<!--Imagens de produtos-->


<div class="container-3">
    <div class="row">
        <div class="card">
            <img src="assets/img/xbox.png" class="produtos" alt="...">
            <div class="card-body">
                <h5 class="card-title">Xbox One X</h5>
                <a class="btn btn-primary" [routerLink]="['/app-product-screen']">Go somewhere</a>
            </div>
        </div>

        <div class="card">
            <img src="assets/img/nintendo.png" class="produtos" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nintendo Switch</h5>
                <a class="btn btn-primary" [routerLink]="['/app-product-screen']">Go somewhere</a>
            </div>
        </div>

        <div class="card">
            <img src="assets/img/ps5.jpg" class="produtos" alt="...">
            <div class="card-body">
                <h5 class="card-title">Playstation 5</h5>
                <a class="btn btn-primary" [routerLink]="['/app-product-screen']">Go somewhere</a>
            </div>
        </div>


        <div class="card">
            <img src="assets/img/tecladogamer.jpg" class="produtos" alt="...">
            <div class="card-body">
                <h5 class="card-title">Teclado Gamer</h5>
                <a class="btn btn-primary" [routerLink]="['/app-product-screen']">Go somewhere</a>
            </div>
        </div>

        <div class="card">
            <img src="assets/img/pc gamer.jpg" class="produtos" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pc Gamer</h5>
                <a class="btn btn-primary" [routerLink]="['/app-product-screen']">Go somewhere</a>
            </div>
        </div>

        <div class="card">
            <img src="assets/img/xbox.png" class="produtos" alt="...">
            <div class="card-body">
                <h5 class="card-title">Xbox One X</h5>
                <a class="btn btn-primary" [routerLink]="['/app-product-screen']">Go somewhere</a>
            </div>
        </div>
    </div>
</div>