<div class="container">
    <form>

        <div class="e-mail">E-mail:</div>
        <input class="e-mail-input" type="email">


        <div class="password">Senha:</div>
        <input class="password-input" type="password">

        <a>
            <button class="botao" type="submit">
                LOGIN
            </button>
        </a>
        <button class="botaoc">
            <a [routerLink]="['/app-cadastro']">
                CADASTRAR
            </a>
        </button>
    </form>
</div>