<div class="product-container">
    <div class="row">
        <div class="col">
            <div class="image-container"><img class="product-image" src="/assets/img/xbox.png"></div>
        </div>

        <div class="col">
            <div class="list">
                <ul>
                    <li>XBOX ONE X</li>
                    <li>R$ 4000</li>
                    <li>À VISTA COM DESCONTO NO DINHEIRO OU BOLETO</li>
                    <li>ou até 10 x de R$ 400</li>
                    <li>Quantidade:</li>
                    <li><input id="quantity"></li>
                    <li><button>Comprar</button></li>
                    <li>Calcule o frete</li>
                    <li><input id="cep" name="cep"></li>
                    <li><button id="button_cep" name="button_cep">Consultar</button></li>
                </ul>
            </div>

        </div>


    </div>
    <div class="row">
        <div class="description">
            <div class="description-title">
                <h2>Descrição</h2>
            </div>
            <div class="description-text">
                <p>Xbox Series X - Pronta Entrega em nossa Loja Física </p>
                <p> (Comprando online pelo site não é possível retirar na loja física, e é necessário aguardar o envio pelo correio, ao comprar consulte o prazo para seu CEP)</p>
                <p> Apresentando o Xbox Series X. Jogue milhares de títulos de quatro gerações de consoles - todos os jogos têm a melhor aparência e jogam melhor no Xbox Series X. No coração da Série X está a Xbox Velocity Architecture, que emparelha um SSD
                    personalizado com software integrado para maior velocidade jogabilidade com tempos de carregamento significativamente reduzidos. Mova-se perfeitamente entre vários jogos em um flash com o Quick Resume. Explore novos mundos ricos e
                    desfrute da ação como nunca antes com os 12 teraflops incomparáveis de poder de processamento gráfico bruto. Desfrute de jogos em 4K a até 120 quadros por segundo, som espacial 3D avançado e muito mais.</p>
                <ul>
                    <p> ESPECIFICAÇÕES Fabricante:</p>
                    <li> Microsoft CPU: Zen 2 8x Cores 3.8 GHz </li>
                    <li>GPU: Radeon RDNA 2 12.15 Tflops 1.8 GHz</li>
                    <li>Memória RAM: 16 GB GDDR6</li>
                    <li>Taxa de Frames: 30/60/120 frames p/s</li>
                    <li>Voltagem: Bi-Volt</li>
                    <li>Resolução Máxima: 8K</li>
                    <li>Cor: Preto</li>
                    <li>Itens Inclusos: - Console Xbox Series X - Controlador Xbox Wireless - Preto Carbono - Cabo HDMI de alta velocidade - Cabo de energia *BIVOLT (Comprando online pelo site não é possível retirar na loja física, e é necessário aguardar
                        o envio pelo correio, ao comprar consulte o prazo para seu CEP)</li>
                </ul>
            </div>
        </div>

    </div>


</div>